@{
    ViewData["Title"] = "Sign In";
}

<div class="background">
    <br />
    <button type="button">Student 1</button>     <br />
    <button type="button">Student 2</button>     <br />
    <button type="button">Student 3</button>     <br />
</div>