@{
    ViewData["Title"] = "Student";
}

<div class="background">
    <p>
        <br />Student Login
        <br /> My attendance
    </p>
    <img src="~/images/stGraph.svg" alt="Sample Photo" />
</div>